<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Binary Search Tree</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <div class="header-content">
        <h1>Binary Search Tree</h1>
        <nav class="button-list">
            <a th:href="@{/previous-trees}" class="bn39" id="prev-btn">Show Previous Trees</a>
            <a th:href="@{/}" class="bn39" id="home-btn">Home</a>
        </nav>
    </div>
</header>
<div class="form-container">
    <form th:action="@{/process-numbers}" method="post">
        <label for="numbers" class="form-label">Enter a series of numbers separated by a space:</label>
        <input type="text" id="numbers" name="numbers" class="form-input" required>
        <center>
            <button type="submit" class="bn39s" id="submit-btn">Submit</button>
        </center>
    </form>
</div>
<footer class="footer">
    <span>&#169;</span> Darla Ward 2023
</footer>
</body>
</html>