<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Binary Search Tree Application</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <div class="header-content">
        <h1>Binary Search Tree</h1>
        <nav class="button-list">
            <a th:href="@{/enter-numbers}" class="bn39" id="enter-btn">Enter Numbers</a>
            <a th:href="@{/previous-trees}" class="bn39" id="prev-btn">Show Previous Trees</a>
        </nav>
    </div>
</header>
<p class="index-one">Welcome to The Binary Search Tree Visualizer App!</p>
<p class="index-two">This app is designed to help users create, visualize, and manage binary search trees based on a series of numbers.</p>
<footer class="footer">
    <span>&#169;</span> Darla Ward 2023
</footer>
</body>
</html>