<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Previous Binary Search Trees</title>
</head>
<body>
<header>
    <div class="header-content">
        <h1>Previous Trees</h1>
        <nav class="button-list">
            <a th:href="@{/enter-numbers}" class="bn39" id="enter-btn">Enter Numbers</a>
            <a th:href="@{/}" class="bn39" id="home-btn">Home</a>
        </nav>
    </div>
</header>
<ul>
    <ul id="oneJson" th:each="treeJson : ${treeJsonList}">
        <pre th:text="${treeJson}"><br></pre>
    </ul>
</ul>
<footer class="footer">
    <span>&#169;</span> Darla Ward 2023
</footer>
</body>
</html>